<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mensajes enviados
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="filters()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" color="danger">
      <ion-button (click)="closeSession()" color="danger">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="comp2">
    <ion-item>
      <ion-searchbar animated placeholder="Buscar..." [(ngModel)]="search" (ionChange)="findMessage()"></ion-searchbar>
    </ion-item>
    <ion-item>
      <ion-datetime [(ngModel)]="today" displayFormat="DD MMM de YYYY" monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre" max="{{today2}}"></ion-datetime>
    </ion-item>
    <ion-button (click)="findByFecha()" expand="block">Buscar fecha</ion-button>
    <ion-button (click)="deleteFilters()" expand="block" color="danger">Borrar filtros</ion-button>
  </ng-container>
  <div *ngIf="messages2.length === 0; else ElseBlock">
    <ion-item>
      <ion-title> No hay mensajes </ion-title>
    </ion-item>
  </div>
  <ng-template #ElseBlock>
    <ion-card *ngFor="let m of messages2">
      <ion-item>
        <ion-label>{{m.fecha}}</ion-label>
        <ion-button slot="end" (click)="deleteMessage(m)" color="danger">Borrar</ion-button>
        <ion-button slot="end" (click)="recoverMessage(m)">Recuperar</ion-button>
      </ion-item>

      <ion-card-content>{{m.textoMensaje}}</ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>