ion-avatar{
    float: left;
    margin-left:2%;
    width: 15%;
    height:15%;
    display: inline-block;
}
ion-menu{
    z-index: 0;
}
#user{
    display: inline-block;
    margin-top: 5%;
    margin-left: 7%;
    font-size: x-large;
}
.menu{
    background-color: #3dc2ff !important;
}
#titlePages{
    font-size: x-large;
}

