<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mensajes" slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Mensajes
    </ion-title>
    <ion-buttons slot="end" color="danger">
      <ion-button (click)="closeSession()" color="danger">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{fecha}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-textarea value="{{textMess}}" rows="5"></ion-textarea>
      </ion-card-content>
      <ion-item>
        <ion-button slot="end" (click)="sendMailP()" *ngIf="compMailP" class="paddingButtons"><ion-text><ion-icon name="mail-outline"></ion-icon> Padre</ion-text></ion-button>
        <ion-button slot="end" (click)="sendMailM()" *ngIf="compMailM" class="paddingButtons"><ion-text><ion-icon name="mail-outline"></ion-icon> Madre</ion-text></ion-button>
        <ion-button slot="end" (click)="sendMailA()" *ngIf="compMailA" class="paddingButtons"><ion-text><ion-icon name="mail-outline"></ion-icon> Alumno</ion-text></ion-button>
      </ion-item>
      <ion-item>
        <ion-button slot="end" (click)="sendWhatsP()" color="success" *ngIf="compTlfP" class="paddingButtons"><ion-text><ion-icon name="logo-whatsapp"></ion-icon> Padre</ion-text></ion-button>
        <ion-button slot="end" (click)="sendWhatsM()" color="success" *ngIf="compTlfM" class="paddingButtons"><ion-text><ion-icon name="logo-whatsapp"></ion-icon> Madre</ion-text></ion-button>
        <ion-button slot="end" (click)="sendWhatsA()" color="success" *ngIf="compTlfA" class="paddingButtons"><ion-text><ion-icon name="logo-whatsapp"></ion-icon> Alumno</ion-text></ion-button>
      </ion-item>
      <ion-item>
        <ion-button slot="end" (click)="goToMensajes()" class="paddingButtons">Volver a Mensajes</ion-button>
        <ion-button slot="end" (click)="goToMensajesEnviados()" class="paddingButtons">Ir a Enviados</ion-button>
      </ion-item>
      <ion-item>
        <ion-button slot="end" (click)="archivarMensaje()" color="success">Archivar</ion-button>
      </ion-item>
    </ion-card>
  </ng-container>
</ion-content>
